{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}"></li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-3 white-important">
                Login
            </legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Login</button>
        </div>
    </form>
    <div class="pt-3">
        <small class="text-muted">
            Do you need an account? <a class="ml-2" href="{% url 'register-users' %}">Sign up</a>
            
        </small>
    </div>
</div>
{% endblock content %}